 <div id="addasset-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <h1>시료추가</h1>
                </div>

                

                    <div class="form-group">
                        <label for="model">모델 이름</label>
                        <input class="form-control" type="text" id="input-model" required="" placeholder="ex. SM-T385" value="<%=model%>" >
                    </div>

                    <div class="form-group">
                        <label for="model">시리얼번호</label>
                        <input class="form-control" type="text" id="input-nick" required="" placeholder="ex. 시리얼번호1, 시리얼번호2">
                    </div>

                    <div class="form-group">
                        <label for="model">바코드</label>
                        <input class="form-control" type="text" id="input-barcode" required="" placeholder="ex. 바코드">
                    </div>

                    <div class="form-group">
                        <label for="model">IMEI</label>
                        <input class="form-control" type="text" id="input-imei" required="" placeholder="ex. IMEI">
                    </div>

                    <div class="form-group">
                        <label for="model">사업자</label>
                        <input class="form-control" type="text" id="input-sales" required="" placeholder="ex. skc">
                    </div>

                    <div class="form-group">
                        <label for="model">라벨</label>
                        <input class="form-control" type="text" id="input-label" required="" placeholder="ex. CTS1">
                    </div>

                    <div class="form-group">
                        <label for="model">이관/수령</label>
                        <select class="form-control" id="input-device_state">
                            <option>수령</option>
                            <option>이관</option>
                        </select>
                        <!--<input class="form-control" type="text" id="input-device_state" required="" placeholder="ex. CTS1">//-->
                    </div>


                    <div class="form-group">
                        <label for="model">이관받은사람</label>
                        <input class="form-control" type="text" id="input-to_email" required="" placeholder="ex. 박소담">
                    </div>

                    <div class="form-group">
                        <label for="model">수령해준사람</label>
                        <input class="form-control" type="text" id="input-from_email" required="" placeholder="ex. 송강호">
                    </div>

                    <div class="form-group">
                        <label for="model">특이사항</label>
                        <input class="form-control" type="text" id="input-device_comment" required="" placeholder="ex. 특이사항1">
                    </div>


                    <div class="form-group text-center">
                        <button class="btn btn-primary" id='add-btn'>시료추가</button>
                    </div>

                

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('#add-btn').click(()=>{
        var m=$('#input-model').val();
        var nick=$('#input-nick').val();
        var sales=$('#input-sales').val();
        var label=$('#input-label').val();
        var barcode=$('#input-barcode').val();
        var imei=$('#input-imei').val();

        var device_state=$('#input-device_state').val();
        var to_email=$('#input-to_email').val();
        var from_email=$('#input-from_email').val();
        var device_comment=$('#input-device_comment').val();


        if(m=='' || nick=="" || sales=="" || label=="" || barcode=="" || imei=="" || device_state=="" || to_email == "" || from_email == "" || device_state == ""){
            $('#addasset-modal').modal('hide');
            jbalert('시료추가',"시료추가가 실패했습니다.");
            return;
        }


        if(imei.length<15){
            $('#addasset-modal').modal('hide');
            jbalert('시료추가',"IMEI는 15자리의 숫자를 입력해주세요.");
            return;
        }

        $.post('/api/phone/crud',{
            cmd:'create',
            model:m,
            nick:nick,
            sales:sales,
            label:label,
            barcode:barcode,
            imei:imei,
            device_state:device_state,
            to_email:to_email,
            from_email:from_email,
            device_comment:device_comment,
        },(d,s)=>{
            $('#addasset-modal').modal('hide');
            if(d=="success"){
                jbalert('시료추가',"시료추가가 완료되었습니다.");
            }else{
                jbalert('시료추가',"시료추가가 실패했습니다.");
            }
            setTimeout(()=>{location.reload();},1000);

        });
    });
 
</script>