<!DOCTYPE html>
    <html lang="en">
    <head>
       <% include header.html %>
       <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    </head>

    <body>
        <script>var my={};</script>


        <!-- Begin page -->
        <div class="wrapper">


           <% include join-modal.html %>

           <% include login-modal.html %>

           <% include left-side.html %>

           <% include alert.html %>

           <% include confirm.html %>
           <script>
                function logined_state() {
                  alert('hi');
                  $('#pr-login-btn').css('display',"none");
                  $('#pr-join-btn').css('display',"none");
                }
            </script>


            <div class="content-page">
                <div class="content">

                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <div class="app-search">
                            

                            <% if (user.logined) { %>
                              <h5 style='display: inline-block;'><a href='/view/rental/pages/my'><h5 style="margin:0px;display: inline-block;"><i class="mdi mdi-account-circle"></i><%=user.name%></h5></a> 님 환영합니다. &nbsp;&nbsp;&nbsp;&nbsp;jb-cli@1.4.0 &nbsp;&nbsp;<a href='/assets/bin/win.zip'>Down(<i class="mdi mdi-windows"></i>Win)</a>
                              &nbsp;&nbsp;<a href='/assets/bin/linux.zip'>Down(<i class="mdi mdi-linux"></i>Linux)</a>
                              &nbsp;&nbsp;<a href='/assets/bin/macos.zip'>Down(<i class="mdi mdi-desktop-mac"></i>MacOS)</a>
                            </h5>
                              <button class="btn btn-primary" style="float:right;" onclick="javascript:location.href='/api/logout';">로그아웃</button>
                            <% }else{ %>
                              <button id=pr-login-btn class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#login-modal">로그인</button>
                              <button id=pr-join-btn class="btn btn-primary mr-1" style="float:right;" data-toggle="modal" data-target="#join-modal">회원가입</button>
                            <% } %>
                            
                        </div>
                    </div>
                    <!-- end Topbar -->
                    
                    <!-- Start Content-->
                    <div class="container-fluid">