 <div id="find-asset-user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                 <h4 class="mb-3">시료검색</h4>
                                    <div id='table-wrap'>
                                        <table id="datatable-buttons2" class="table table-striped dt-responsive" style="width:100% !important;">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>모델명</th>
                                                    <th>사업자</th>
                                                    <th>고유번호</th>
                                                    <th>라벨</th>
                                                    <th>상태</th>
                                                    <th>선택</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=tbody-find-asset-user>
                                            </tbody>
                                        </table>
                                    </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    function init_precondition()
    {
         //alert(d);
            $('#table-wrap').html('');
            //$('#table-wrap').remove();
            $('#table-wrap').append(`<table id="datatable-buttons2" class="table table-striped dt-responsive" style="width:100% !important;">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>모델명</th>
                                                    <th>사업자</th>
                                                    <th>고유번호</th>
                                                    <th>라벨</th>
                                                    <th>상태</th>
                                                    <th>선택</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=tbody-find-asset-user>
                                            </tbody>
                                        </table>`);
    }
    function asset_user_init(d) {
        init_precondition();
        var c='';
        var r=d.rows;
        for(var i=0;i<r.length;i++)
        {
            var num=i+1;
            c=c+`<tr>
                    <td>`+((d.page-1)*10+(i+1))+`</td>
                    <td>`+r[i].model+`</td>
                    <td>`+r[i].sales+`</td>
                    <td>`+r[i].nick+`</td>
                    <td>`+r[i].label+`</td>
                    <td >`;
                        if(r[i].state=='rental') {
                            c=c+`<b style="color:#fa5c7c;">대여중</b>`;
                        } else {
                            c=c+`<b style="color:#0acf97;">대여가능</b>`;
                        }
                        
                    c=c+`</td>
                    <td >
                    `;
                    c=c+`<button id='sel-user-btn-`+r[i].id+`' class='btn btn-primary' onclick="sel(this,`+r[i].id+`,'`+r[i].model+`','`+r[i].sales+`','`+r[i].nick+`','`+r[i].label+`','`+r[i].state+`')">선택</button>`;
                    c=c+`
                    </td>
                  </tr>`;
        }
        $('#tbody-find-asset-user').html(c);
        init(d);
    }


     var drawonce=true;
     var reqconfig;
     var modal_state_my=false;
    function init(d){
        reqconfig=d;
        
        
        var a=$("#datatable-buttons2").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            "drawCallback":function(settings){
                drawpage(d.rows2[0].cnt,d.page);
                drawinfo(d.rows2[0].cnt,d.page);
                
                if(drawonce){
                    drawsearch();    
                    drawonce=false;
                }
            },
        });

    }

    function drawsearch()
    {
        var btn=`&nbsp;<button class='btn btn-info' onclick='findstr()'>검색</button>`;
        $('#datatable-buttons2_filter').append(btn);
    }

    function findstr()
    {
        var str=$('input[type="search"]').val();
        reqconfig.search=str;
        gopage(1);
    }

    function drawpage(total,curpage)
    {
        var torg=total;
        total=Math.floor(total/10);
        if(torg%10!=0)total=total+1;
        $('#datatable-buttons2_paginate').html('');
        var prevpage=curpage-1;
        if(prevpage<=0)prevpage=1;
        var next=curpage+1;
        if(next>total)next=total;
        var s=`<ul class="pagination"><li class="paginate_button page-item previous" id="datatable-buttons2_previous"><a href="javascript:gopage(${prevpage});" aria-controls="datatable-buttons2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>`;
        var start=curpage-2;
        if(start<=0)start=1;
        if(start>1)
        {
          s=s+`<li class="paginate_button page-item"><a href="javascript:gopage(1);" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>&nbsp;...&nbsp;`;          
        }
        var end=curpage+2;
        if(end>total)end=total;
        for(var i=start;i<=end;i++){
            var act='';
            if(i==curpage)act='active';
            s=s+`<li class="paginate_button page-item ${act}"><a href="javascript:gopage(${i});" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${i}</a></li>`;
        }
        if(end<total)
        {
          s=s+`&nbsp;...&nbsp;<li class="paginate_button page-item"><a href="javascript:gopage(${total});" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${total}</a></li>`;   
        }
        s=s+`<li class="paginate_button page-item next" id="datatable-buttons2_next"><a href="javascript:gopage(${next});" aria-controls="datatable-buttons2" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li></ul>`;
        $('#datatable-buttons2_paginate').html(s);
    }

    function drawinfo(total,curpage)
    {
        var stri=(curpage-1)*10+1;
        var endi=stri+9;
        var k=`Showing ${stri} to ${endi} of ${total} entries`;
        $('#datatable-buttons2_info').html(k);
    }

    function gopage(idx)
    {
        search=reqconfig.search;
        var ref=`?page=${idx}`;
        if(search!=undefined && search!='')
            ref=ref+`&search=${search}`;
        

        var url=`/api/find/asset/all`;
        var state=``;
        if(modal_state_my)
        {
            url=`/api/find/asset/user`;
            state='rental';
        }
        $.post(url+ref,{
            state:state,
        },(d,s)=>{
           
            drawonce=true;
            asset_user_init(d);

            $('#find-asset-user-modal').modal('show');
        });

    }
 
</script>