<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>엑셀파일 업로드 완료 - JB for Samsung google approval team!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/fav.ico">

        <!-- App css -->
        <!-- build:css -->
        <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

    </head>

    <body class="authentication-bg">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">
                            <!-- Logo -->
                            <div class="card-header pt-4 pb-4 text-center bg-primary">
                                <a href="/view/phone">
                                    <span><img src="assets/images/logo.png" alt="" height="18"></span>
                                </a>
                            </div>

                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h4 class="text-uppercase text-success mt-3">데이터 추가 완료</h4>
                                    <p class="text-muted mt-3">엑셀 파일을 참고하여 자산 데이터 추가를 완료했습니다.</p>

                                    <a class="btn btn-info mt-3" href="/view/phone"><i class="mdi mdi-reply"></i> 돌아가기</a>
                                </div>
                            </div> <!-- end card-body-->
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2019 © JB - Desgined by jh0511.lee for Samsung google approval team.
        </footer>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>
    </body>
</html>
