<% include base-top.html %>
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">자산장부관리</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-12">

                                <div class="row">
                                    
                                    <div class="col-xl-4">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <i class="mdi mdi-cellphone-iphone widget-icon"></i>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">VZW,TMB,SPR</h5>
                                                <h3 class="mt-3 mb-3">SM-F900U</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 13대 사용 가능</span>
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 11대 대여 중</span>
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->


                                    <div class="col-xl-4">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <i class="mdi mdi-cellphone-iphone widget-icon"></i>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">SKC</h5>
                                                <h3 class="mt-3 mb-3">SM-G977N</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 13대 사용 가능</span>
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 11대 대여 중</span>
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                
                                    <div class="col-xl-4">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <i class="mdi mdi-cellphone-iphone widget-icon"></i>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Average Revenue">DCM</h5>
                                                <h3 class="mt-3 mb-3">SC-03L</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 13대 사용 가능</span>
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 11대 대여 중</span>
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                  </div> <!-- end row -->
                                  <div class="row">

                                    <div class="col-xl-4">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <i class="mdi mdi-sim widget-icon"></i>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Growth">OMAPI</h5>
                                                <h3 class="mt-3 mb-3">OMAPI</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 2대 사용 가능</span>
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 1대 대여 중</span>
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                  </div>
                                

                            </div> <!-- end col -->
                        </div>
<% include base-bottom.html %>
<script>
  $('.card').click(()=>{
    location.href="m1";
  });
</script>