 <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!-- LOGO -->
                    <a href="/" class="logo text-center mb-4">
                        <h1 style="color:white !important;"><i class="fas fa-box-open"></i>&nbsp;&nbsp;JB</h1>
                    </a>

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                            <a href="/view/rental/pages/my" class="side-nav-link">
                                <i class="mdi mdi-cellphone-iphone"></i>
                                <span> 장부관리 </span>
                                <span class="menu-arrow"></span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/view/phone" class="side-nav-link">
                                <i class="mdi mdi-cube-outline"></i>
                                <span> 자산관리 </span>
                                <span class="menu-arrow"></span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="mdi mdi-cube-outline"></i>
                                <span> 통계 </span>
                                <span class="menu-arrow"></span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span> 사용자관리 </span>
                                <span class="menu-arrow"></span>
                            </a>
                           
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="mdi mdi-cogs"></i>
                                <span> 설정 </span>
                                <span class="menu-arrow"></span>
                            </a>
                           
                        </li>
                    </ul>

                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->