<% include base-top.html %>
      <!-- start page title -->
      <% include addasset-modal.html %>
      <% include excel-text-modal.html %>
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <a href='/view/phone'><h4 class="page-title"><i class="mdi mdi-cellphone-iphone"></i> 자산관리</h4></a>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                         <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <form action='/excel' method="post" enctype="multipart/form-data" id=fileupload-form>
                                            <input type=file id=fileupload name="excelfile" onchange="file_select()"
                                            style="display: none;" />
                                        </form>
                                            
                                        <h4 class="header-title">  <button class='btn btn-primary' style="float:right;" id='data-input' data-toggle="modal" data-target="#addasset-modal">시료추가</button>
                                            <button class='btn btn-info mr-2' style="float:right;" id='excel-upload-btn' onclick='excel_upload()'><i class="fas fa-upload"></i>&nbsp;솔루션1.엑셀파일업로드</button>

                                            <button class='btn btn-success mr-2' style="float:right;" id='excel-text-btn' data-toggle="modal" data-target="#excel-text-modal"><i class="far fa-file-alt"></i>&nbsp;솔루션2.엑셀텍스트입력</button>

                                        </h4>
                                        <h2>모델별 목록</h2>
                                        <p class="text-muted font-14 mb-4">
                                            <!--VZW, TMB, SPR///-->
                                        </p>


                                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>모델</th>
                                                    <th>사업자</th>
                                                    <th>총대수</th>
                                                    <th>대여수</th>
                                                    <th>남은대수</th>
                                                    <th>자세히</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=tbody>

                                                <% for(var i=0;i<rows.length;i++) { %>
                                                <tr>
                                                    <td><%=(i+1)%></td>
                                                    <td><%=rows[i].model%></td>
                                                    <td><%=rows[i].saleses%></td>
                                                    <td><%=rows[i].cnt%>대</td>
                                                    <td><b style="color:#fa5c7c;"><%=rows[i].rental_cnt%>대</b></td>
                                                    <td><b style="color:#0acf97;"><%=rows[i].return_cnt%>대</b></td>
                                                    <td>
                                                        <a href='/view/phone/<%=rows[i].model%>'><button class='btn btn-primary' >자세히 보기</button></a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
<% include base-bottom.html %>
<script>
    egg_type=7;


    function excel_upload(){
        $('#fileupload').val("");
        $('#fileupload').click();
    }
    function file_select()
    {
        $('#fileupload-form').submit();
    }

    
</script>