<% include base-top.html %>
<% include request-rental-modal.html %>
<% include barcode-modal.html %>
<% include find-asset-user-modal.html %>
      <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <a href="#"><h4 onclick="javascript:history.back();" class="page-title"><i class="mdi mdi-arrow-left-thick"></i>대여/ 반납</h4></a>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                         <div class="row">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="mb-3">선택된 시료<br><br>
                                        <button class="btn btn-outline-info" data-toggle="modal" data-target="#request-rental-modal">시료검색</button>
                                        <button class="btn btn-outline-info" id=barcode_btn>바코드 | 시리얼번호 | 라벨입력</button>
                                        <button class="btn btn-outline-success" onclick="myrental('rental')">내가 대여한 시료</button>
                                        <button class="btn btn-outline-success" onclick="myrental('return')">내가 반납한 시료</button>
                                        <button class="btn btn-outline-dark">전략</button>
                                        <button class="btn btn-outline-dark">MASS</button>
                                        <button class="btn btn-outline-dark">Tablet</button>
                                        <button class="btn btn-outline-danger">내 장바구니</button>
                                        </h4>
                                        



                                        <table id="datatable-buttons1" class="table table-striped dt-responsive" style="width:100% !important;">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>모델명</th>
                                                    <th>사업자</th>
                                                    <th>고유번호</th>
                                                    <th>라벨</th>
                                                    <th>상태</th>
                                                    <th>취소</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=select-tbody>
                                            </tbody>
                                        </table>
                                            

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                                <center class="mb-3">
                                <button class="btn btn-primary btn-lg" onclick='req(1)'>대여 신청</button>
                                <button class="btn btn-success btn-lg" onclick='req(2)'>반납 신청</button></center>

                                  
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
<% include base-bottom.html %>
<script>
    var ks=[];
    var cnt=0;

    $('#barcode_btn').click(()=>{
        $('#barcode-modal').modal('show');
        $('#barcode-modal').on('shown.bs.modal',function(e){
            barcode_init();
        });
        
    });

    $("#datatable-buttons1").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            language:{
                paginate:{
                    previous:"<i class='mdi mdi-chevron-left'>",
                    next:"<i class='mdi mdi-chevron-right'>"
                }
            },
            drawCallback:function(){
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
            }
        }
    );

    $("#datatable-buttons2").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            language:{
                paginate:{
                    previous:"<i class='mdi mdi-chevron-left'>",
                    next:"<i class='mdi mdi-chevron-right'>"
                }
            },
            drawCallback:function(){
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
            }
        }
    );

    $("#datatable-buttons3").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            language:{
                paginate:{
                    previous:"<i class='mdi mdi-chevron-left'>",
                    next:"<i class='mdi mdi-chevron-right'>"
                }
            },
            drawCallback:function(){
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
            }
        }
    );

    function sel(i,m,s,n,l,state) {
        var id='#sel-btn-'+i;
        var id2='#sel-user-btn-'+i;
        if($(id).html()=="선택"){
            $(id).attr('class','btn btn-danger');
            $(id).html("취소");
            

                var k={};
                k.idx=i;
                k.sel='y';
                k.model=m;
                k.sales=s;
                k.nick=n;
                k.label=l;
                k.state=state;
                ks.push(k);

            sel_update(ks);
        }else{
            $(id).attr('class','btn btn-primary');
            $(id).html("선택"); 

            var ks2=[];
            for(var j=0;j<ks.length;j++){
                if(ks[j].idx!=i){
                    ks2.push(ks[j]);
                }
            }
            ks=[];
            for(var j=0;j<ks2.length;j++)
                ks.push(ks2[j]);
            sel_update(ks);
        }
        
    }

    function sel_update(ks){
        
        var c=0;
        $('#select-tbody').html("");
        for(var i=0;i<ks.length;i++)
        {
            if(ks[i].idx>0)
            {

                c=c+1;
                var row='<tr>';
                var state;
                if(ks[i].state=='rental')state=`<b style="color:#fa5c7c;">대여중</b>`;
                else state=`<b style="color:#0acf97;">대여가능</b>`;
                row = row + 
                '<td>' + c + '</td>' +
                '<td>' + ks[i].model + '</td>' +
                '<td>' + ks[i].sales + '</td>' +
                '<td>' + ks[i].nick + '</td>' +
                '<td>' + ks[i].label + '</td>' +
                '<td>' + state + '</td>' +
                '<td>' + `<button class='btn btn-danger' onclick="sel(`+ks[i].idx+`,'`+ks[i].model+`','`+ks[i].sales+`','`+ks[i].nick+`','`+ks[i].label+`','`+ks[i].state+`')">취소</button>` + '</td>' +
                '</tr>';
                $('#select-tbody').append(row);
            }
        }
    }

    function req(type){ //type 1:rental 2:return
        var aids=[];
        for(var i=0;i<ks.length;i++)
        {  
            if((type==1 && ks[i].state=='rental') || (type==2 && ks[i].state=='return')) 
            {
                jbalert('대여/반납신청 실패','대여중인 기기를 대여하려고 하거나, 반납중인 기기를 반납하려고 합니다.');
                return;
            }
            aids.push(ks[i].idx);
        }
        $.post('/api/rental',{
            aids:aids,
            type:type,
        },(d,s)=>{
            if(d=="success")
            {
                jbalert('대여/반납신청','대여/반납 신청이 성공했습니다.');
            }else{
                jbalert('대여/반납신청','대여/반납 신청이 실패했습니다.');
            }
            setTimeout(()=>{location.href="/view/rental/pages/my"},1000);
        });
    }

    function myrental(s){

        $.post('/api/find/asset/user',{
            state:s,
        },(d,s)=>{
            //alert(d);
            asset_user_init(d);
            $('#find-asset-user-modal').modal('show');
            $('#find-asset-user-modal').on('shown.bs.modal',(e)=>{
                
            });
        });
    }
    
</script>