<% include base-top.html %>
      <!-- start page title -->
      <% include addasset-modal.html %>
      <% include updateasset-modal.html %>
      <% include multi-updateasset-modal.html %>
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <a href="#"><h4 onclick="javascript:history.back();" class="page-title"><i class="mdi mdi-arrow-left-thick"></i>자산관리</h4></a>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                         <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="header-title">  <button class='btn btn-primary' style="float:right;" id='data-input' data-toggle="modal" data-target="#addasset-modal">시료추가</button>
                                            <button class='btn btn-info mr-2' style="float:right;" id='data-update' onclick="massetupdate_click('<%=model%>')">시료편집</button>
                                        </h4>
                                        
                                        <h2 style="display: inline-block;" class="mr-3"><%=model%></h2>
                                        <h5 style="display: inline-block;">
                                            <b style="color:#fa5c7c;">대여중 <%=rows2[0].rental_cnt%>대</b>
                                            <b style="color:#0acf97;">대여가능 <%=rows2[0].return_cnt%>대</b>
                                        </h5>
                                        <p class="text-muted font-14 mb-4">
                                            <%=rows2[0].saleses%>
                                        </p>


                                        <table id="datatable-buttons2" class="table table-striped dt-responsive nowrap">
                                            
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="allcheck">
                                                            <label class="custom-control-label" for="allcheck">&nbsp;</label>
                                                        </div>
                                                    </th>
                                                    <th>모델</th>
                                                    <th>시리얼번호</th>
                                                    <th>바코드</th>
                                                    <th>IMEI</th>
                                                    <th>라벨</th>
                                                    <th>사업자</th>
                                                    <th>상태</th>
                                                    <th>대여정보</th>
                                                    <th>이관/수령</th>
                                                    <th>이관받은사람</th>
                                                    <th>수령해준사람</th>
                                                    <th>특이사항</th>
                                                    <th>최근수정</th>
                                                    <th>마지막업데이트</th>
                                                    <th>편집</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=tbody>

                                                <% for(var i=0;i<rows.length;i++) { %>
                                                <tr>
                                                    <!--<td><%=(i+1)%></td>//-->
                                                    <td><%=((page-1)*10+(i+1))%></td>
                                                    <td>
                                                         <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check-<%=rows[i].id%>">
                                                            <label class="custom-control-label" for="check-<%=rows[i].id%>">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td><%=rows[i].model%></td>
                                                    <td><%=rows[i].nick%></td>
                                                    <% if(rows[i].barcode.indexOf('nobarcode')>=0){ %>
                                                        <td></td>
                                                    <% } else { %>
                                                    <td><%=rows[i].barcode%></td>
                                                    <% } %>
                                                    <% if(rows[i].imei.indexOf('noimei')>=0){ %>
                                                        <td></td>
                                                    <% } else { %>
                                                        <td><%=rows[i].imei%></td>
                                                    <% } %>
                                                    <td><%=rows[i].label%></td>
                                                    <td><%=rows[i].sales%></td>
                                                    <td>
                                                        <% if(rows[i].state=='rental') { %>
                                                            <b style="color:#fa5c7c;">대여중</b>
                                                        <% } else { %>
                                                            <b style="color:#0acf97;">대여가능</b>
                                                        <% } %>
                                                    </td>
                                                    <td><a href='/view/history/<%=rows[i].id%>'><button class='btn btn-primary'>대여정보 보기</button></a></td>
                                                    <td><%=rows[i].device_state%></td>
                                                    <td><%=rows[i].to_email%></td>
                                                    <td><%=rows[i].from_email%></td>
                                                    <td><%=rows[i].device_comment%></td>
                                                    <td><a href='/view/history/user/<%=rows[i].uid%>'><%=rows[i].last_user_name%></a></td>
                                                    <td onclick="javascript:jbalert('시간','<%=rows[i].dt%>');"><a href='javascript:void(0);'><%=rows[i].dt%></a></td>
                                                    <td><button class='btn btn-info' onclick="assetupdate(<%=rows[i].id%>,'<%=rows[i].model%>','<%=rows[i].nick%>','<%=rows[i].sales%>','<%=rows[i].label%>','<%=rows[i].barcode%>','<%=rows[i].imei%>','<%=rows[i].device_state%>','<%=rows[i].to_email%>','<%=rows[i].from_email%>','<%=rows[i].device_comment%>')">시료정보 편집</button></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
<% include base-bottom.html %>
<script>
    egg_type=6;


    var drawonce=true;
    window.onload=init();
    function init(){
        var a=$("#datatable-buttons2").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            "drawCallback":function(settings){
                drawpage(<%=rows2[0].cnt%>,<%=page%>);
                drawinfo(<%=rows2[0].cnt%>,<%=page%>);
                if(drawonce){
                    drawsearch();
                    drawonce=false;
                }
            },
        });

    }

    function drawsearch()
    {
        var btn=`&nbsp;<button class='btn btn-info' onclick='findstr()'>검색</button>`;
        $('#datatable-buttons2_filter').append(btn);
    }

    function findstr()
    {
        var str=$('input[type="search"]').val();
        location.href='?search='+str;
    }

    function drawpage(total,curpage)
    {
        var torg=total;
        total=Math.floor(total/10);
        if(torg%10!=0)total=total+1;
        $('#datatable-buttons2_paginate').html('');
        var prevpage=curpage-1;
        if(prevpage<=0)prevpage=1;
        var next=curpage+1;
        if(next>total)next=total;
        var s=`<ul class="pagination"><li class="paginate_button page-item previous" id="datatable-buttons2_previous"><a href="javascript:gopage(${prevpage},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>`;
        var start=curpage-4;
        if(start<=0)start=1;
        if(start>1)
        {
          s=s+`<li class="paginate_button page-item"><a href="javascript:gopage(1,'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>&nbsp;...&nbsp;`;          
        }
        var end=curpage+4;
        if(end>total)end=total;
        for(var i=start;i<=end;i++){
            var act='';
            if(i==curpage)act='active';
            s=s+`<li class="paginate_button page-item ${act}"><a href="javascript:gopage(${i},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${i}</a></li>`;
        }
        if(end<total)
        {
          s=s+`&nbsp;...&nbsp;<li class="paginate_button page-item"><a href="javascript:gopage(${total},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${total}</a></li>`;   
        }
        s=s+`<li class="paginate_button page-item next" id="datatable-buttons2_next"><a href="javascript:gopage(${next},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li></ul>`;
        $('#datatable-buttons2_paginate').html(s);
    }

    function drawinfo(total,curpage)
    {
        var stri=(curpage-1)*10+1;
        var endi=stri+9;
        var k=`Showing ${stri} to ${endi} of ${total} entries`;
        $('#datatable-buttons2_info').html(k);
    }

    function gopage(idx,search)
    {
        var ref=`?page=${idx}`;
        if(search!=undefined && search!='')
            ref=ref+`&search=${search}`;
        location.href=ref;
    }


    function assetupdate(id,model,nick,sales,label,barcode,imei,device_state,to_email,from_email,device_comment) {
        $('#aid').val(id);
        $('#update-model').val(model);
        $('#update-nick').val(nick);
        $('#update-sales').val(sales);
        $('#update-label').val(label);
        $('#update-barcode').val(barcode);
        $('#update-imei').val(imei);
        $('#update-device_state').val(device_state);
        $('#update-to_email').val(to_email);
        $('#update-from_email').val(from_email);
        $('#update-device_comment').val(device_comment);
        $('#updateasset-modal').modal('show');
    }

    $("#allcheck").click(function(){
        var chk = $(this).is(":checked");//.attr('checked');
        if(chk) $(".custom-control-input").prop('checked', true);
        else  $(".custom-control-input").prop('checked', false);
    });


    function massetupdate_click(model) {
        $('#mupdate-model').val(model);
        var ids=[];
        $("input:checkbox").each(function(){
            var $this = $(this);
            if($this.is(":checked")){
                if($this.attr('id')!="allcheck"){
                    var id=$this.attr('id').split('-');
                    id=id[1];
                    ids.push(id);
                }
            }else{
                
            }
        });
        if(ids.length==0){jbalert('시료편집','체크박스를 통해 편집할 시료를 선택해주세요.');return;}
        else{
            var str='(';
            for(var i=0;i<ids.length;i++)
            {
                str=str+ids[i];
                if(i!=ids.length-1)
                {
                    str=str+',';
                }
            }
            str=str+')';
            $('#maid').val(str);
            $('#mupdateasset-modal').modal('show');    
        }
        
        

    }

    

</script>