<% include base-top.html %>
      <!-- start page title -->
      <% include addasset-modal.html %>
      <% include excel-text-modal.html %>
      <% include multi-model-updateasset-modal.html %>
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <a href='/view/phone'><h4 class="page-title"><i class="mdi mdi-cellphone-iphone"></i> 자산관리</h4></a>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                         <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <form action='/excel' method="post" enctype="multipart/form-data" id=fileupload-form>
                                            <input type=file id=fileupload name="excelfile" onchange="file_select()"
                                            style="display: none;" />
                                        </form>
                                            
                                        <h4 class="header-title">  <button class='btn btn-primary' style="float:right;" id='data-input' data-toggle="modal" data-target="#addasset-modal">시료추가</button>
                                            <button class='btn btn-info mr-2' style="float:right;" id='data-update' onclick="massetupdate_click('<%=model%>')">시료편집</button>
                                            <!--
                                            <button class='btn btn-info mr-2' style="float:right;" id='excel-upload-btn' onclick='excel_upload()'><i class="fas fa-upload"></i>&nbsp;솔루션1.엑셀파일업로드</button>
                                            //-->

                                            <button class='btn btn-success mr-2' style="float:right;" id='excel-text-btn' data-toggle="modal" data-target="#excel-text-modal"><i class="far fa-file-alt"></i>&nbsp;엑셀텍스트입력</button>


                                        </h4>
                                        <h5><a style="float:right;"href='/assets/test_excel_file.xlsx'>Down(<i class="far fa-file-alt"></i> 엑셀양식)&nbsp;&nbsp;</a></h5>
                                        <h2>모델별 목록</h2>
                                        <p class="text-muted font-14 mb-4">
                                            <!--VZW, TMB, SPR///-->
                                        </p>


                                        <table id="datatable-buttons2" class="table table-striped dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="allcheck">
                                                            <label class="custom-control-label" for="allcheck">&nbsp;</label>
                                                        </div>
                                                    </th>
                                                    <th>모델</th>
                                                    <th>사업자</th>
                                                    <th>총대수</th>
                                                    <th>대여수</th>
                                                    <th>남은대수</th>
                                                    <th>자세히</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id=tbody>

                                                <% for(var i=0;i<rows.length;i++) { %>
                                                <tr>
                                                    <td><%=((page-1)*10+(i+1))%></td>
                                                    <td>
                                                         <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check_<%=rows[i].model%>">
                                                            <label class="custom-control-label" for="check_<%=rows[i].model%>">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td><%=rows[i].model%></td>
                                                    <td><%=rows[i].saleses%></td>
                                                    <td><%=rows[i].cnt%>대</td>
                                                    <td><b style="color:#fa5c7c;"><%=rows[i].rental_cnt%>대</b></td>
                                                    <td><b style="color:#0acf97;"><%=rows[i].return_cnt%>대</b></td>
                                                    <td>
                                                        <a href='/view/phone/<%=rows[i].model%>'><button class='btn btn-primary' >자세히 보기</button></a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
<% include base-bottom.html %>
<script>
    egg_type=7;


    var drawonce=true;
    window.onload=init();
    function init(){
        var a=$("#datatable-buttons2").DataTable(
        {
            lengthChange:!1,buttons:["copy","print"],
            "drawCallback":function(settings){
                drawpage(<%=rows2[0].cnt%>,<%=page%>);
                drawinfo(<%=rows2[0].cnt%>,<%=page%>);
                if(drawonce){
                    drawsearch();
                    drawonce=false;
                }
            },
        });

    }

    function drawsearch()
    {
        var btn=`&nbsp;<button class='btn btn-info' onclick='findstr()'>검색</button>`;
        $('#datatable-buttons2_filter').append(btn);
    }

    function findstr()
    {
        var str=$('input[type="search"]').val();
        location.href='?search='+str;
    }

    function drawpage(total,curpage)
    {
        var torg=total;
        total=Math.floor(total/10);
        if(torg%10!=0)total=total+1;
        $('#datatable-buttons2_paginate').html('');
        var prevpage=curpage-1;
        if(prevpage<=0)prevpage=1;
        var next=curpage+1;
        if(next>total)next=total;
        var s=`<ul class="pagination"><li class="paginate_button page-item previous" id="datatable-buttons2_previous"><a href="javascript:gopage(${prevpage},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>`;
        var start=curpage-4;
        if(start<=0)start=1;
        if(start>1)
        {
          s=s+`<li class="paginate_button page-item"><a href="javascript:gopage(1,'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>&nbsp;...&nbsp;`;          
        }
        var end=curpage+4;
        if(end>total)end=total;
        for(var i=start;i<=end;i++){
            var act='';
            if(i==curpage)act='active';
            s=s+`<li class="paginate_button page-item ${act}"><a href="javascript:gopage(${i},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${i}</a></li>`;
        }
        if(end<total)
        {
          s=s+`&nbsp;...&nbsp;<li class="paginate_button page-item"><a href="javascript:gopage(${total},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="1" tabindex="0" class="page-link">${total}</a></li>`;   
        }
        s=s+`<li class="paginate_button page-item next" id="datatable-buttons2_next"><a href="javascript:gopage(${next},'<%=search%>');" aria-controls="datatable-buttons2" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li></ul>`;
        $('#datatable-buttons2_paginate').html(s);
    }

    function drawinfo(total,curpage)
    {
        var stri=(curpage-1)*10+1;
        var endi=stri+9;
        var k=`Showing ${stri} to ${endi} of ${total} entries`;
        $('#datatable-buttons2_info').html(k);
    }

    function gopage(idx,search)
    {
        var ref=`?page=${idx}`;
        if(search!=undefined && search!='')
            ref=ref+`&search=${search}`;
        location.href=ref;
    }



    function excel_upload(){
        $('#fileupload').val("");
        $('#fileupload').click();
    }
    function file_select()
    {
        $('#fileupload-form').submit();
    }

     $("#allcheck").click(function(){
        var chk = $(this).is(":checked");//.attr('checked');
        if(chk) $(".custom-control-input").prop('checked', true);
        else  $(".custom-control-input").prop('checked', false);
    });



      function massetupdate_click(model) {
        //$('#mmupdate-model').val(model);
        var ids=[];
        $("input:checkbox").each(function(){
            var $this = $(this);
            if($this.is(":checked")){
                if($this.attr('id')!="allcheck"){
                    var id=$this.attr('id').split('_');
                    id=id[1];
                    ids.push(id);
                }
            }else{
                
            }
        });
        if(ids.length==0){jbalert('시료편집','체크박스를 통해 편집할 모델을 선택해주세요.');return;}
        else{
            var str='';
            for(var i=0;i<ids.length;i++)
            {
                str=str+`'`+ids[i]+`'`;
                if(i!=ids.length-1)
                {
                    str=str+',';
                }
            }
            str=str+'';

            $('#mupdate-model').val(str);
            $('#mmupdateasset-modal').modal('show');    
        }
        
        

    }


    
</script>